#box{
    width: 1200px;
    height: 1000px;
    margin: 0 auto;         /*居中*/
    background-color: #ffffff;
}


#header1{
    height: 32px;
    color: #666;
}

#header2 #header2_ul>li{
    width: 80px;
    float: left;    /*向左浮动，使列表变为一行*/
}

#header3{
    position: absolute;
    top: 80px
}

#header3_logo{
    width:210px;
    height:80px;
    float: left;
    background:url(../img/logo.png) no-repeat;
}

#header3_02{
    float: right;
    line-height: 50px;
}

#header3_02>ul>li{
    width: 80px;
    float: left;
}
#header3_02>ul>li>a{
    text-align: center;
}

#ad{
    position: absolute;
    top: 150px;
}

#inAd{
    width: 899px;
    height: 262px;
    background-image: url(../img/zhutu.png);
    background-size: 899px,262px;
    position: relative;
}

#inAd ul{
    position: absolute;
    left: 0;
    top: 0;
}

#inAd>ul>li{
    margin-top: 1px;
    width: 180px;
    height: 65px;
    background-color: rgba(0,0,0,0.5);
}

#inAd li a{
    text-align: center;
    font-size: 24px;
}